@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MyCustomFont";
  src: url(../fonts/Gilroy-Regular.ttf);
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
  height: 8px; /* Needed for horizontal scroll */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Subtle background color */
  border-radius: 4px; /* Rounded corners */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* Scrollbar color */
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
  border: 2px solid transparent; /* Creates padding from the track */
  background-clip: content-box; /* Ensures the background only covers the content area */
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(
    0,
    0,
    0,
    0.3
  ); /* Darker color on hover for better visibility */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Makes scrollbar thin */
  scrollbar-color: rgba(161, 161, 161, 0.2) rgba(0, 0, 0, 0.1); /* Thumb and track color */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
R (0)
G (110)
B (255 */

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #091e3a;
    --background: 228 98.65% 98.26%;
    --foreground: 228 7.3% 0.52%;

    --muted: 228 7.3% 91.3%;
    --muted-foreground: 228 3.65% 41.3%;

    --popover: 228 31.6% 91.3%;
    --popover-foreground: 228 7.3% 0.65%;

    --card: 228 31.6% 91.3%;
    --card-foreground: 228 7.3% 0.65%;

    --border: 228 12.3% 89.52%;
    --input: 228 12.3% 89.52%;

    --primary: 228 73% 13%;
    --primary-foreground: 228 1.46% 91.3%;

    --secondary: 228 3.65% 95.65%;
    --secondary-foreground: 228 5.38% 11.3%;

    --accent: 228 3.65% 95.65%;
    --accent-foreground: 228 5.38% 11.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 228 73% 13%;

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
         Author: Ilias Ism
         URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #02aab0;

    --background: 193 63.699999999999996% 2.8%;
    --foreground: 193 9.8% 96.75%;

    --muted: 193 49% 10.5%;
    --muted-foreground: 193 9.8% 53.5%;

    --popover: 193 45.4% 4.55%;
    --popover-foreground: 193 9.8% 96.75%;

    --card: 193 45.4% 4.55%;
    --card-foreground: 193 9.8% 96.75%;

    --border: 193 49% 10.5%;
    --input: 193 49% 10.5%;

    --primary: 193 98% 35%;
    --primary-foreground: 193 9.8% 96.75%;

    --secondary: 193 49% 10.5%;
    --secondary-foreground: 193 9.8% 96.75%;

    --accent: 193 49% 10.5%;
    --accent-foreground: 193 9.8% 96.75%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 193 9.8% 96.75%;

    --ring: 193 98% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
